<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutocadSQLPlugin.SettingsDb" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AutocadSQLPlugin.SettingsDb>
            <setting name="connectionString" serializeAs="String">
                <value>Server=STZ-LAP-ETM001\\SQLEXPRESS;Database=AUTOCADDB;Integrated Security=True;TrustServerCertificate=Yes</value>
            </setting>
        </AutocadSQLPlugin.SettingsDb>
    </applicationSettings>
</configuration>